@charset "utf-8";

/* Cherish Browne - W0264160
    Portfolio Website 
    Final Project WEBD1000
    File Name: about.css */

/* text box settings and border */
.text-box {
  background-color: #0000008c;
  color: white;
  border: 4px solid lightpink;
  border-radius: 4px;
  padding: 15px;
}

/* image border settings */
.image {
  border-style: solid;
  border-color: lightpink;
  border-radius: 4px;
}
