@charset "utf-8";

/* Cherish Browne - W0264160
    Portfolio Website 
    Final Project WEBD1000
    File Name: styles.css */

/* background for portfolio pages */
html {
  background-image: url("iphone-near-spiral-book-and-laptop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}

body {
  background-color: transparent;
}

/* nav settings for portolio */
.main-nav {
  margin-bottom: 15px;
}

.header-area {
  background: #e4e4e4f0;
}
